<div class="card mt-3 mb-3 shadow">
    <div class="card-header">
        Pie Chart 
    </div>
    <div class="card-body">
        <canvas baseChart 
           width="270" height="278" 
           style=" margin:auto;"
            [type]="'pie'"
            [datasets]="pieChartDatasets"
            [labels]="pieChartLabels"
            [options]="pieChartOptions"
            [plugins]="pieChartPlugins"
            [legend]="pieChartLegend">
        </canvas>
    </div>
   <!-- <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div> -->
</div>
